In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

spark = SparkSession.builder.getOrCreate()

spark

In [0]:
salesperson_data = [
    (1, "John", 100000, 6, "4/1/2006"),
    (2, "Amy", 12000, 5, "5/1/2010"),
    (3, "Mark", 65000, 12, "12/25/2008"),
    (4, "Pam", 25000, 25, "1/1/2005"),
    (5, "Alex", 5000, 10, "2/3/2007")
]
salesperson_columns = ["sales_id", "name", "salary", "commission_rate", "hire_date"]
sales_df = spark.createDataFrame(salesperson_data, salesperson_columns)
display(sales_df)

In [0]:
company_data = [
    (1, "RED", "Boston"),
    (2, "ORANGE", "New York"),
    (3, "YELLOW", "Boston"),
    (4, "GREEN", "Austin")
]
company_columns = ["com_id", "name", "city"]
company_df = spark.createDataFrame(company_data, company_columns)
display(company_df)

In [0]:
orders_data = [
    (1, "1/1/2014", 3, 4, 10000),
    (2, "2/1/2014", 4, 5, 5000),
    (3, "3/1/2014", 1, 1, 50000),
    (4, "4/1/2014", 1, 4, 25000)
]
orders_columns = ["order_id", "order_date", "com_id", "sales_id", "amount"]
orders_df = spark.createDataFrame(orders_data, orders_columns)
display(orders_df)

In [0]:
# Step 1: Filter RED company's com_id
red_company_df = company_df.filter(col("name") == "RED").select("com_id")
display(red_company_df)

In [0]:
# Step 2: Join Orders with RED to get sales_ids who sold to RED
red_sales_df = orders_df.join(red_company_df,orders_df.com_id == red_company_df.com_id).select("sales_id")
display(red_sales_df)

In [0]:
# Step 3: Find salespersons NOT in red_sales_df (anti join)
result_df = sales_df.join(red_sales_df,sales_df.sales_id == red_sales_df.sales_id,"left_anti") \
    .select("name")
display(result_df)